/* header: 0B3954
background: BFD7EA
mytexts: 087E8B
othertexts: FF5A5F 
altothertexts: C44536 */

/* body {
    background-color: rgba(255, 255, 255, 0.452);
    background-blend-mode: lighten;
} */

